.u-margin-bottom-lg {
  margin-bottom: 48px !important;
}

.u-margin-bottom-md {
  margin-bottom: 24px !important;
}

.u-center {
  text-align: center !important;
}

.u-overflow-hidden {
  overflow: hidden !important;
}
