$color-purple: #bdccff;
$color-dark-purple: #9672ff;

$color-pink: #f2b8ec;

$color-cian: #f1ffff;
$color-blue: #2cbde7;
$color-blue-azure: #4ddffd;

$color-orange: #ff9900;
$color-yellow: #fbb040;
$color-red: #f85a47;

$color-light-gray: #dadada;

$color-background-gray: #fbfcfc;

$color-black: #333333;
$color-white: #fff;

$bp-extra-lg: 1410px;
$bp-lg: 1320px;
$bp-md: 990px;
$bp-sm: 767px;
$bp-extra-sm: 600px;

$container-large: 1440px;
$container-medium: 1170px;

$header-height-desktop: 101px;
$header-height-mobile: 64px;
